.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: blanchedalmond;
}

.nav a{
  padding: 5px;
  text-decoration: none;
  color: black;
}